<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-01-13T05:25:01Z</date>
	<key>WorkspacePath</key>
	<string>/Users/asiftaj/Documents/GitHub/Flutter-Bloc-Clean-Coding/macos/Runner.xcworkspace</string>
</dict>
</plist>
